
@{
    ViewData["Title"] = "Followups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Notifications</h1>
            <br />
            <p class="lead">
                All of your notifications are listed below,
                click on specify row to show full details.
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Doctor's Name</th>
                    <th scope="col">Date Of Next Visit</th>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Date Of Next Test</th>
                    <th scope="col">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dr. Farahani</td>
                    <td>14th Oct. 2020</td>
                    <td>some texts as medicine name..</td>
                    <td>15th Oct. 2020</td>
                    <td>some texts as description..</td>
                    <td><a class="btn btn-sm btn-danger" asp-action="FollowUpDetails">Details</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Dr. Smith</td>
                    <td>1st Oct. 2020</td>
                    <td>some texts as medicine name..</td>
                    <td>8th Oct. 2020</td>
                    <td>some texts as description..</td>
                    <td><a class="btn btn-sm btn-danger" asp-action="FollowUpDetails">Details</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Dr. Farahani</td>
                    <td>1st Oct. 2020</td>
                    <td>some texts as medicine name..</td>
                    <td>8th Oct. 2020</td>
                    <td>some texts as description..</td>
                    <td><a class="btn btn-sm btn-danger" asp-action="FollowUpDetails">Details</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Dr. Smith</td>
                    <td>1st Oct. 2020</td>
                    <td>some texts as medicine name..</td>
                    <td>8th Oct. 2020</td>
                    <td>some texts as description..</td>
                    <td><a class="btn btn-sm btn-danger" asp-action="FollowUpDetails">Details</a></td>
                </tr>
            </tbody>
        </table>
        <a asp-action="Profile" class="btn btn-block btn-primary">Back To Medical Records</a>
    </div>
</div>

