
@{
    ViewData["Title"] = "StartTest3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Question 175 out of 175</h1>
<br />
<hr />
<br />

<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <input class="form-control" type="text" placeholder="The question number 175...?" readonly>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">No</label>
        </div>
    </div>
    <br />
    <br />
    <button asp-action="StartTest2" class="btn btn-warning" type="submit">Prev</button> | 
    <button asp-action="Result" class="btn btn-success" type="submit">Get The Result</button>
</form>



